USE [master]
GO
/****** Object:  Database [COMICSHOP]    Script Date: 17/10/2016 18:02:02 ******/
CREATE DATABASE [COMICSHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMICSHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\COMICSHOP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'COMICSHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\COMICSHOP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMICSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMICSHOP]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/10/2016 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](35) NULL,
	[endereco] [varchar](35) NULL,
	[cidade] [varchar](35) NULL,
	[estado] [varchar](2) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HQs]    Script Date: 17/10/2016 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HQs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](35) NULL,
	[valor] [float] NULL,
	[quantidade] [int] NULL,
	[editora] [varchar](35) NULL,
 CONSTRAINT [PK_HQs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itens_Venda]    Script Date: 17/10/2016 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itens_Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[venda_id] [int] NULL,
	[hq_id] [int] NULL,
	[status] [char](1) NULL,
 CONSTRAINT [PK_Itens_Venda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 17/10/2016 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime] NULL,
	[cliente_id] [int] NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Itens_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Venda_HQs] FOREIGN KEY([hq_id])
REFERENCES [dbo].[HQs] ([id])
GO
ALTER TABLE [dbo].[Itens_Venda] CHECK CONSTRAINT [FK_Itens_Venda_HQs]
GO
ALTER TABLE [dbo].[Itens_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Venda_Venda] FOREIGN KEY([venda_id])
REFERENCES [dbo].[Venda] ([id])
GO
ALTER TABLE [dbo].[Itens_Venda] CHECK CONSTRAINT [FK_Itens_Venda_Venda]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Clientes]
GO
USE [master]
GO
